{
    "plugins": ["prettier"],
    "extends": ["eslint:recommended", "plugin:prettier/recommended", "prettier"],
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "globals": {
        "sap": true,
        "jQuery": true,
        "Promise": "readonly"
    },
    "rules": {
        "prettier/prettier": "off",
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "indent": "off"
    },
    "overrides": [
        {
            "files": "srv/**/*.js",
            "env": {
                "node": true,
                "es6": true
            },
            "globals": {
                "cds": "readonly",
                "SELECT": "readonly",
                "INSERT": "readonly",
                "UPDATE": "readonly",
                "DELETE": "readonly"
            }
        }
    ]
}
