### MacOS-Systemdateien
.DS_Store

### Umgebungsvariablen (Niemals in öffentliche Git-Repositories hochladen)
.env

### Node Pakete & Artefakte
dist
node_modules

### CAP
*.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
gen/

### MTA
*.mtar
mta_archives/

### Anwendungen
*.app
*.exe
*.war

### Große Mediendateien
*.avi
*.flv
*.mov
*.mp3
*.mp4
*.tiff
*.wmv
